# Assignment 4.8 Grouping Data and Aggregating Variables

### This script contains the following:
#### 1. Importing Data
#### 2. Finding mean of order_number column by department_id grouping
#### 4. Create a loyalty flag
#### 5/6. Defining customer spending
#### 7. Defining frequent customers
#### 9. Export Data

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

#### 1. Importing Data

In [2]:
# turn folders into string
path = r'C:\Users\Jamie&Ken\Desktop\Data Analytics Course\Python Fundeamentals for Data Analysts\08-2024 Instacart Basket Analysis'
# Import ords_prods_merge
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merg_derived.pkl'))

#### 2. Finding mean of order_number column by department_id grouping

In [4]:
# Step 2. Group data by department_id and aggregate to obtain mean values
ords_prods_merge.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

In [7]:
average_value = ords_prods_merge['order_number'].mean()

In [8]:
average_value

17.142304646349487

##### Step 3. The results for the entire database tend to have means closer to one another while the subset had some departments where the data was much larger than the mean of orders such as 25.53 and the lowest of 14.76. It appears in the actual data set that there are less outliers dragging the mean up as significantly as in the subset. There seem to be a lot more values that fall closely to the mean.

#### 4. Create a Loyalty Flag

In [16]:
# Create group and aggregate with transform (new column "max_order')
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform('max')

In [17]:
# Checking results
pd.options.display.max_rows = None
ords_prods_merge.head(10)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,weekday_of_order,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Mid-range product,Average days,Most orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Mid-range product,Average days,Average orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Mid-range product,Busiest days,Average orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Mid-range product,Slowest days,Most orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Mid-range product,Slowest days,Average orders,3,New customer
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,False,7,0,both,Mid-range product,Busiest days,Average orders,26,Regular customer
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,False,2,0,both,Mid-range product,Average days,Most orders,9,New customer
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,False,1,0,both,Mid-range product,Slowest days,Most orders,12,Regular customer
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,False,1,0,both,Mid-range product,Busiest days,Average orders,20,Regular customer
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,False,2,1,both,Mid-range product,Busiest days,Most orders,20,Regular customer

In [13]:
# Create new column (flag) for loyalty
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [14]:
# Checking frequency
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [21]:
# Check code execution
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number', 'max_order']].head(10)

   user_id      loyalty_flag  order_number  max_order
0      138  Regular customer            28         32
1      138  Regular customer            30         32
2      709      New customer             2          5
3      764      New customer             1          3
4      764      New customer             3          3
5      777  Regular customer            16         26
6      825      New customer             3          9
7      910  Regular customer            12         12
8     1052  Regular customer            10         20
9     1052  Regular customer            15         20

#### 5/6. Defining Customer Spending

In [22]:
# Step 5 the min, max, and mean of each loyalty flag
ords_prods_merge.groupby(['loyalty_flag']).agg({'prices':['mean', 'min', 'max', 'sum']})

                     prices
                       mean  min      max          sum
loyalty_flag
Loyal customer    10.386336  1.0  99999.0  106814042.2
New customer      13.294670  1.0  99999.0   83011787.2
Regular customer  12.495717  1.0  99999.0  198391693.2

###### Results: Loyal customer seem to spend on product prices with lesser value while new customers tend to buy more expensive products. Overall, regular customers spend the most money with loyal and then new customers coming after.

In [26]:
# Step 6 Create column for average spender
ords_prods_merge['average_spend'] = ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [27]:
# Create flag for low and high spender
ords_prods_merge.loc[ords_prods_merge['average_spend'] <10, 'spender_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['average_spend'] >=10, 'spender_flag'] = 'High spender'

In [28]:
# Check flags
ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [29]:
# Check code executed correctly
ords_prods_merge[['user_id', 'average_spend', 'spender_flag', 'prices']].head(50)

    user_id  average_spend spender_flag  prices
0       138       6.935811  Low spender     5.8
1       138       6.935811  Low spender     5.8
2       709       7.930208  Low spender     5.8
3       764       4.972414  Low spender     5.8
4       764       4.972414  Low spender     5.8
5       777       6.935398  Low spender     5.8
6       825       5.957576  Low spender     5.8
7       910       6.680000  Low spender     5.8
8      1052       7.162500  Low spender     5.8
9      1052       7.162500  Low spender     5.8
10     1379       5.813636  Low spender     5.8
11     1480       5.081633  Low spender     5.8
12     1480       5.081633  Low spender     5.8
13     1480       5.081633  Low spender     5.8
14     1494       6.803797  Low spender     5.8
15     1494       6.803797  Low spender     5.8
16     1494       6.803797  Low spender     5.8
17     1540       6.607122  Low spender     5.8
18     1540       6.607122  Low spender     5.8
19     1540       6.607122  Low spender     5.8
20     1540       6.607122  Low spender     5.8
21     1540       6.607122  Low spender     5.8
22     1540       6.607122  Low spender     5.8
23     1540       6.607122  Low spender     5.8
24     1540       6.607122  Low spender     5.8
25     1540       6.607122  Low spender     5.8
26     1540       6.607122  Low spender     5.8
27     1540       6.607122  Low spender     5.8
28     1540       6.607122  Low spender     5.8
29     1540       6.607122  Low spender     5.8
30     1540       6.607122  Low spender     5.8
31     1540       6.607122  Low spender     5.8
32     1540       6.607122  Low spender     5.8
33     1540       6.607122  Low spender     5.8
34     1598       7.123529  Low spender     5.8
35     1598       7.123529  Low spender     5.8
36     1598       7.123529  Low spender     5.8
37     1647       4.853521  Low spender     5.8
38     1647       4.853521  Low spender     5.8
39     1647       4.853521  Low spender     5.8
40     1647       4.853521  Low spender     5.8
41     1647       4.853521  Low spender     5.8
42     2833       7.377143  Low spender     5.8
43     2850       8.054153  Low spender     5.8
44     2857       8.353793  Low spender     5.8
45     3010       6.452800  Low spender     5.8
46     3029       7.960606  Low spender     5.8
47     3395       6.322222  Low spender     5.8
48     3904       7.511111  Low spender     5.8
49     4006       7.441100  Low spender     5.8

#### 7. Defining frequent customers

In [35]:
# Create column for "customer frequency"
ords_prods_merge['customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [38]:
# Create flag on order frequency
ords_prods_merge.loc[ords_prods_merge['customer_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['customer_frequency'] > 10) & (ords_prods_merge['customer_frequency'] <= 20), 'frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [39]:
# Check frequency 
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

In [40]:
# Check code execution
ords_prods_merge[['user_id', 'days_since_prior_order', 'customer_frequency', 'frequency_flag']].head(100)

    user_id  days_since_prior_order  customer_frequency         frequency_flag
0       138                     3.0                 8.0      Frequent customer
1       138                    20.0                 8.0      Frequent customer
2       709                     6.0                 8.0      Frequent customer
3       764                     NaN                 9.0      Frequent customer
4       764                     9.0                 9.0      Frequent customer
5       777                    26.0                11.0       Regular customer
6       825                    30.0                20.0       Regular customer
7       910                    30.0                 6.0      Frequent customer
8      1052                    19.0                10.0      Frequent customer
9      1052                    15.0                10.0      Frequent customer
10     1379                     NaN                20.0       Regular customer
11     1480                     7.0                 7.0      Frequent customer
12     1480                     7.0                 7.0      Frequent customer
13     1480                    12.0                 7.0      Frequent customer
14     1494                     2.0                 7.0      Frequent customer
15     1494                     6.0                 7.0      Frequent customer
16     1494                    10.0                 7.0      Frequent customer
17     1540                     7.0                 7.0      Frequent customer
18     1540                     6.0                 7.0      Frequent customer
19     1540                    14.0                 7.0      Frequent customer
20     1540                     8.0                 7.0      Frequent customer
21     1540                     6.0                 7.0      Frequent customer
22     1540                    28.0                 7.0      Frequent customer
23     1540                     7.0                 7.0      Frequent customer
24     1540                     7.0                 7.0      Frequent customer
25     1540                     0.0                 7.0      Frequent customer
26     1540                     7.0                 7.0      Frequent customer
27     1540                     7.0                 7.0      Frequent customer
28     1540                     7.0                 7.0      Frequent customer
29     1540                     7.0                 7.0      Frequent customer
30     1540                     3.0                 7.0      Frequent customer
31     1540                    16.0                 7.0      Frequent customer
32     1540                     5.0                 7.0      Frequent customer
33     1540                     6.0                 7.0      Frequent customer
34     1598                     NaN                 2.0      Frequent customer
35     1598                    21.0                 2.0      Frequent customer
36     1598                     2.0                 2.0      Frequent customer
37     1647                     NaN                25.0  Non-frequent customer
38     1647                    18.0                25.0  Non-frequent customer
39     1647                     8.0                25.0  Non-frequent customer
40     1647                    30.0                25.0  Non-frequent customer
41     1647                    25.0                25.0  Non-frequent customer
42     2833                     NaN                13.0       Regular customer
43     2850                     9.0                 7.0      Frequent customer
44     2857                    10.0                11.0       Regular customer
45     3010                     7.0                 7.0      Frequent customer
46     3029                     NaN                28.0  Non-frequent customer
47     3395                    30.0                18.0       Regular customer
48     3904                     NaN                21.0  Non-frequent customer
49     4006                     7.0                 7.0      Frequent customer
50     4006                     7.0                 7.0      Frequent customer
51     4006                     7.0                 7.0      Frequent customer
52     4006                     5.0                 7.0      Frequent customer
53     4006                     4.0                 7.0      Frequent customer
54     4122                     8.0                 7.0      Frequent customer
55     4141                    30.0                30.0  Non-frequent customer
56     4343                     NaN                30.0  Non-frequent customer
57     4553                    29.0                30.0  Non-frequent customer
58     4845                    12.0                20.0       Regular customer
59     6866                     NaN                30.0  Non-frequent customer
60     7275                     4.0                12.0       Regular customer
61     7669                     5.0                 5.0      Frequent customer
62     7669                     5.0                 5.0      Frequent customer
63     7669                    13.0                 5.0      Frequent customer
64     7981                    10.0                 6.0      Frequent customer
65     7981                     6.0                 6.0      Frequent customer
66     7981                     9.0                 6.0      Frequent customer
67     7981                     6.0                 6.0      Frequent customer
68     7981                     8.0                 6.0      Frequent customer
69     8703                     1.0                 1.0      Frequent customer
70     8723                     7.0                 6.0      Frequent customer
71     8735                    21.0                27.0  Non-frequent customer
72     9293                    30.0                30.0  Non-frequent customer
73     9293                    30.0                30.0  Non-frequent customer
74     9467                     NaN                30.0  Non-frequent customer
75     9694                    30.0                10.0      Frequent customer
76     9694                     8.0                10.0      Frequent customer
77     9694                     7.0                10.0      Frequent customer
78     9694                    14.0                10.0      Frequent customer
79     9694                    28.0                10.0      Frequent customer
80     9694                    16.0                10.0      Frequent customer
81     9694                     1.0                10.0      Frequent customer
82     9694                    14.0                10.0      Frequent customer
83     9694                     7.0                10.0      Frequent customer
84     9694                     8.0                10.0      Frequent customer
85     9694                    16.0                10.0      Frequent customer
86     9848                     8.0                11.0       Regular customer
87    10113                    14.0                12.0       Regular customer
88    10315                     NaN                11.0       Regular customer
89    10479                     8.0                14.5       Regular customer
90    10708                    14.0                14.0       Regular customer
91    10708                    14.0                14.0       Regular customer
92    10789                    10.0                 7.0      Frequent customer
93    10789                    14.0                 7.0      Frequent customer
94    10789                     4.0                 7.0      Frequent customer
95    10831                    23.0                23.0  Non-frequent customer
96    11119                    30.0                13.0       Regular customer
97    11186                     2.0                 6.0      Frequent customer
98    11243                     0.0                 6.0      Frequent customer
99    11448                     3.0                14.0       Regular customer

##### Nan values could represent customers who had purchase the day the data was extracted

#### 9. Export Dataframe

In [41]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'aggregated_ords_prods_merge.pkl'))